body
 {
    background-color:black;
    font-family:arial;
    color:white
    
}

h1
{
    color:grey;
    font-family:verdana
}
.maindiv {
    background-color: white;
    color: black;
    width: 311px;
    padding: 77px;
    border-radius: 30px;
    margin: auto;
}
#foot{
    text-align: center;
    
}